<!DOCTYPE html>
<html lang="vi ">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover" />

</head>

<body>
    <nav
        class="jsx-ddfb0b416b0db288 header-desktop  sticky top-0 z-40 hidden border-b border-gray-200   bg-white/95 shadow-sm  backdrop-blur transition-transform lg:block">
        <div
            class="jsx-ddfb0b416b0db288 text-md mx-auto flex w-full max-w-6xl items-center justify-between px-6 lg:px-8">
            <div class="jsx-ddfb0b416b0db288 flex-1 px-3">
                <nav class="jsx-ddfb0b416b0db288 flex flex-row flex-nowrap justify-start">
                    <div class="jsx-ddfb0b416b0db288 menu relative ">
                        <%= link_to "Trang chủ" , new_path, :class=> "block cursor-pointer whitespace-nowrap px-2 py-5
                            font-bold transition-all text-pink-600" %>
                    </div>

                    <div class="jsx-ddfb0b416b0db288 menu relative ">
                        <%= link_to "Create a news" , create_path, :class=> "block cursor-pointer whitespace-nowrap px-2
                            py-5
                            font-bold transition-all text-gray-600 hover:text-gray-900" %>
                    </div>
                </nav>
            </div>
        </div>

    </nav>
    <div id="__next" data-reactroot="">
        <main class="soju-wrapper  lg:mt-0 ">
            <section id="block-297" data-index="2" data-type="1" class="">
                <div class="py-8 md:py-10 lg:py-14 bg-gray-50" style="--grad-rgb-color:250 250 250">
                    <div class="max-w-6xl mx-auto w-full px-5 md:px-8 lg:px-8 ">
                        <div class="mb-5 text-center md:mb-8" id="section-article">
                            <h2 class="text-2xl font-bold lg:text-3xl cls-bmtu-text-red">Trang quản lý của ADMIN</h2>
                        </div>
                        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                            <div class="jsx-1f8450e380c7ac75 donation-item group relative flex flex-col flex-nowrap overflow-hidden rounded-xl 
                border border-gray-200 bg-white text-gray-700 transition md:hover:text-momo
                shadow-sm hover:shadow-xl">
                                <div class="jsx-1f8450e380c7ac75 dn-img aspect-w-15 aspect-h-8 flex"><span
                                        style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                                            alt="Cùng quyên góp tặng 20 suất học bổng tiếp bước đến trường cho các em học sinh, sinh viên nghèo có ý chí vươn lên"
                                            src="https://static.mservice.io/blogscontents/momo-upload-api-220825112700-637970236205398042.jpg"
                                            decoding="async" data-nimg="fill"
                                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover" /><noscript><img
                                                alt="Cùng quyên góp tặng 20 suất học bổng tiếp bước đến trường cho các em học sinh, sinh viên nghèo có ý chí vươn lên"
                                                src="https://static.mservice.io/blogscontents/momo-upload-api-220825112700-637970236205398042.jpg"
                                                decoding="async" data-nimg="fill"
                                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
                                                loading="lazy" /></noscript></span></div>
                                <div class="jsx-1f8450e380c7ac75 dn-body min-h-1 flex-1 px-4 pt-4 pb-3">
                                    <h5 title="Cùng quyên góp tặng 20 suất học bổng tiếp bước đến trường cho các em học sinh, sinh viên nghèo có ý chí vươn lên"
                                        class="jsx-1f8450e380c7ac75 dn-title h-12 text-lg font-bold leading-snug transition line-clamp-2">
                                        Cùng quyên góp tặng 20 suất học bổng tiếp bước đến trường cho các em học sinh,
                                        sinh viên nghèo có ý
                                        chí vươn lên</h5>
                                </div>
                                <div class="jsx-1f8450e380c7ac75 dn-footer mb-4 px-4 pt-0">
                                    <div class="jsx-1f8450e380c7ac75  mb-3 flex flex-nowrap items-center space-x-2">
                                        <div class="jsx-1f8450e380c7ac75 shrink-0">
                                            <div
                                                class="jsx-1f8450e380c7ac75 overflow-hidden rounded-full border border-gray-200 p-1">
                                                <div class="jsx-1f8450e380c7ac75 relative h-11 w-11 md:h-7 md:w-7"><span
                                                        style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                                                            alt="Quỹ từ thiện BMTU"
                                                            src="https://yt3.ggpht.com/ytc/AMLnZu_2RaVyJSAtASeG810PREffA4wQdEKfKjkrTu55=s900-c-k-c0x00ffffff-no-rj"
                                                            decoding="async" data-nimg="fill"
                                                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain" /><noscript><img
                                                                alt="Quỹ từ thiện BMTU"
                                                                src="https://static.mservice.io/blogscontents/momo-upload-api-220825112709-637970236292795010.png"
                                                                decoding="async" data-nimg="fill"
                                                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
                                                                loading="lazy" /></noscript></span></div>
                                            </div>
                                        </div>
                                        <div
                                            class="jsx-1f8450e380c7ac75 flex-1 text-xs leading-4 text-gray-600 md:text-sm">
                                            Quỹ từ thiện BMTU</div>
                                        <div class="jsx-1f8450e380c7ac75 shrink-0 "><span
                                                class="jsx-2495f49cc0e24354 badge-date-left rounded-3xl px-2 py-1 text-xs text-orange-400">Còn
                                                <!-- -->31 Ngày
                                            </span></div>
                                    </div>
                                    <div class="jsx-1f8450e380c7ac75 dn-money mb-2 flex items-end"><strong
                                            class="jsx-1f8450e380c7ac75 item-end flex leading-5 text-gray-700">9,329,315
                                            <!-- -->đ
                                        </strong><span
                                            class="jsx-1f8450e380c7ac75 pl-2 text-xs text-gray-500 md:text-sm">/
                                            <!-- -->150,000,000
                                            <!-- -->đ
                                        </span></div>
                                    <div
                                        class="jsx-1f8450e380c7ac75 dn-progress my-1 flex h-1.5 w-full overflow-hidden rounded-lg bg-gray-200">
                                        <div class="dn-progress-bar h-1.5 rounded-lg cls-bmtu-progress"
                                            style="width:6.22%"></div>
                                    </div>
                                    <div
                                        class="jsx-1f8450e380c7ac75  mt-3 flex flex-nowrap items-center  justify-between space-x-2 md:space-x-3">
                                        <div class="jsx-1f8450e380c7ac75 grow ">
                                            <div class="jsx-1f8450e380c7ac75  text-sm font-bold text-gray-600">
                                                <%= link_to "Update" , details_path, :class=> 'flex h-7 items-center
                                                    justify-center rounded-md border border-pink-600 px-3 text-xs
                                                    font-bold cls-bmtu-text-red md:group-hover:bg-pink-50' %>
                                            </div>
                                        </div>
                                        <div class="jsx-1f8450e380c7ac75 grow">
                                            <div class="jsx-1f8450e380c7ac75  text-sm font-bold text-gray-600">
                                                <%= link_to "Disable" , details_path, :class=> 'flex h-7 items-center
                                                    justify-center rounded-md border border-pink-600 px-3 text-xs
                                                    font-bold cls-bmtu-text-red md:group-hover:bg-pink-50' %>
                                            </div>
                                        </div>
                                        <div class="jsx-1f8450e380c7ac75 grow">
                                            <%= link_to "Delete" , details_path, :class=> 'flex h-7 items-center
                                                justify-center rounded-md border border-pink-600 px-3 text-xs font-bold
                                                cls-bmtu-text-red md:group-hover:bg-pink-50' %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="cls_bmtu_show" class="jsx-1f8450e380c7ac75 donation-item group relative flex flex-col flex-nowrap overflow-hidden rounded-xl 
                border border-gray-200 bg-white text-gray-700 transition md:hover:text-momo
                shadow-sm hover:shadow-xl">
                                <div class="jsx-1f8450e380c7ac75 dn-img aspect-w-15 aspect-h-8 flex"><span
                                        id="cls_bmtu_preview"
                                        style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
                                    </span></div>
                                <div class="jsx-1f8450e380c7ac75 dn-body min-h-1 flex-1 px-4 pt-4 pb-3">
                                    <h5 title="<%= session[:strTitle] %>"
                                        class="jsx-1f8450e380c7ac75 dn-title h-12 text-lg font-bold leading-snug transition line-clamp-2">
                                        <%= session[:strTitle] %>
                                    </h5>
                                </div>
                                <div class="jsx-1f8450e380c7ac75 dn-footer mb-4 px-4 pt-0">
                                    <div class="jsx-1f8450e380c7ac75  mb-3 flex flex-nowrap items-center space-x-2">
                                        <div class="jsx-1f8450e380c7ac75 shrink-0">
                                            <div
                                                class="jsx-1f8450e380c7ac75 overflow-hidden rounded-full border border-gray-200 p-1">
                                                <div class="jsx-1f8450e380c7ac75 relative h-11 w-11 md:h-7 md:w-7"><span
                                                        style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                                                            alt="Quỹ từ thiện BMTU"
                                                            src="https://yt3.ggpht.com/ytc/AMLnZu_2RaVyJSAtASeG810PREffA4wQdEKfKjkrTu55=s900-c-k-c0x00ffffff-no-rj"
                                                            decoding="async" data-nimg="fill"
                                                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain" /><noscript><img
                                                                alt="Quỹ từ thiện BMTU"
                                                                src="https://static.mservice.io/blogscontents/momo-upload-api-220825112709-637970236292795010.png"
                                                                decoding="async" data-nimg="fill"
                                                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
                                                                loading="lazy" /></noscript></span></div>
                                            </div>
                                        </div>
                                        <div
                                            class="jsx-1f8450e380c7ac75 flex-1 text-xs leading-4 text-gray-600 md:text-sm">
                                            Quỹ từ thiện BMTU</div>
                                        <div class="jsx-1f8450e380c7ac75 shrink-0 "><span
                                                class="jsx-2495f49cc0e24354 badge-date-left rounded-3xl px-2 py-1 text-xs text-orange-400">Còn
                                                <!-- -->31 Ngày
                                            </span></div>
                                    </div>
                                    <div class="jsx-1f8450e380c7ac75 dn-money mb-2 flex items-end"><strong
                                            class="jsx-1f8450e380c7ac75 item-end flex leading-5 text-gray-700">0
                                            <!-- -->đ
                                        </strong><span
                                            class="jsx-1f8450e380c7ac75 pl-2 text-xs text-gray-500 md:text-sm">/
                                            <%= number_to_currency(session[:nAmount],precision: 0, unit: "" ) %>
                                                <!-- -->đ
                                        </span></div>
                                    <div
                                        class="jsx-1f8450e380c7ac75 dn-progress my-1 flex h-1.5 w-full overflow-hidden rounded-lg bg-gray-200">
                                        <div class="dn-progress-bar h-1.5 rounded-lg cls-bmtu-progress"
                                            style="width:0%"></div>
                                    </div>
                                    <div
                                        class="jsx-1f8450e380c7ac75  mt-3 flex flex-nowrap items-center  justify-between space-x-2 md:space-x-3">
                                        <div class="jsx-1f8450e380c7ac75 grow ">
                                            <div class="jsx-1f8450e380c7ac75  text-sm font-bold text-gray-600">
                                                <%= link_to "Update" , details_path, :class=> 'flex h-7 items-center
                                                    justify-center rounded-md border border-pink-600 px-3 text-xs
                                                    font-bold cls-bmtu-text-red md:group-hover:bg-pink-50' %>
                                            </div>
                                        </div>
                                        <div class="jsx-1f8450e380c7ac75 grow">
                                            <div class="jsx-1f8450e380c7ac75  text-sm font-bold text-gray-600">
                                                <%= link_to "Disable" , details_path, :class=> 'flex h-7 items-center
                                                    justify-center rounded-md border border-pink-600 px-3 text-xs
                                                    font-bold cls-bmtu-text-red md:group-hover:bg-pink-50' %>
                                            </div>
                                        </div>
                                        <div class="jsx-1f8450e380c7ac75 grow">
                                            <%= link_to "Delete" , details_path, :class=> 'flex h-7 items-center
                                                justify-center rounded-md border border-pink-600 px-3 text-xs font-bold
                                                cls-bmtu-text-red md:group-hover:bg-pink-50' %>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>

        </main>

    </div>
    <script>

        var preview = document.querySelector('#cls_bmtu_preview');
        if (/\.(jpe?g|png|gif)$/i.test("<%= session[:oPhotos] %>")) {
            var image = new Image();
            image.src = JSON.parse(localStorage.getItem('link'));
            preview.appendChild(image);
        }
    </script>
    <script>
        var strTitle = "<%= session[:strTitle] %>"
        if (strTitle == "") {
            document.getElementById("cls_bmtu_show").style.display = "none";
        }
    </script>
</body>

</html>