<!DOCTYPE html>
<html lang="vi ">

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, viewport-fit=cover" />
  <title>Cùng quyên góp tặng 20 suất học bổng tiếp bước đến trường cho các em học sinh, sinh viên nghèo có ý chí vươn
    lên</title>
  <script src="https://kit.fontawesome.com/3a67e5d2e3.js" crossorigin="anonymous"></script>

</head>

<body>
  <div id="__next" data-reactroot="">
    <main class="soju-wrapper  lg:mt-0 ">
      <div class="max-w-6xl mx-auto w-full px-5 md:px-8 lg:px-8 ">
        <div class="flex flex-col" id="hoancanh">
          <div class="order-2 md:order-1">
            <div class="max-w-5xl">
              <p><i class="fa-solid fa-caret-left"></i>
                <%= link_to "Quay lại" , new_path, :class=> "cls-bmtu-back" %>
              </p>
              <h1 class="mb-3 pt-4 text-2xl font-bold text-gray-700 md:pt-6 md:text-2xl md:leading-snug lg:text-3xl">
                Cùng quyên góp tặng 20 suất học bổng tiếp bước đến trường cho các em học sinh, sinh viên nghèo có ý chí
                vươn lên</h1>
              <p class="leading-normal text-gray-500 md:text-lg"><img class="mr-1 inline-block max-w-full" alt="heart"
                  src="https://momo.vn/momo2020/img/donation/icon-heart.png" loading="lazy" width="23.3"
                  height="20" />Cùng chung tay gây quỹ học bổng dành tặng các em học sinh, sinh viên có hoàn cảnh khó
                khăn nhưng đầy nghị lực vươn lên trong cuộc sống. </p>
            </div>
            <div class="mt-2 flex items-center">
              <div class="flex flex-1 flex-col flex-wrap text-sm text-gray-500 md:flex-row md:items-center"><span
                  class="relative">24/08/2022</span></div>
              <div class=" shrink-0">
                <div class="jsx-ea51e03070354ffb relative"><button aria-haspopup="true" aria-controls="menu"
                    class="button-share" id="menu-button--menu" type="button" data-reach-menu-button="">
                  </button>
                  <div hidden=""
                    class="dropdown-filter-mobile fadeInDown shadow-level3 absolute top-full right-0 z-10 mt-1 w-[220px] rounded-lg bg-white p-2 focus:outline-none"
                    data-reach-menu-popover="">
                    <div class="jsx-ea51e03070354ffb arbitrary-element">
                      <div aria-labelledby="menu-button--menu" role="menu" tabindex="-1" class="grid grid-cols-1 "
                        id="menu" data-reach-menu-items="">


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="order-1 -mx-5 pb-2 md:order-2 md:mx-0">
              <div class="relative overflow-hidden md:mt-5 md:rounded-lg">
                <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
                  <div class="aspect-w-4 aspect-h-3 relative cursor-pointer bg-gray-200 
      
    "><span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                        alt="Cùng quyên góp tặng 20 suất học bổng tiếp bước đến trường cho các em học sinh, sinh viên nghèo có ý chí vươn lên"
                        src="https://static.mservice.io/blogscontents/momo-upload-api-220825112700-637970236205398042.jpg"
                        decoding="async" data-nimg="fill" class="transition duration-500 hover:scale-105"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover" /></span>
                  </div>
                  <div class="aspect-w-4 aspect-h-3 relative cursor-pointer bg-gray-200 
      hidden md:block
    "><span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-220822101821-637967603018207612.jpg"
                        decoding="async" data-nimg="fill" class="transition duration-500 hover:scale-105"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover" /><noscript><img
                          src="https://static.mservice.io/blogscontents/momo-upload-api-220822101821-637967603018207612.jpg"
                          decoding="async" data-nimg="fill"
                          style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
                          class="transition duration-500 hover:scale-105" loading="lazy" /></noscript></span></div>
                  <div class="aspect-w-4 aspect-h-3 relative cursor-pointer bg-gray-200 
      hidden md:block
    "><span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-220825113823-637970243039646791.jpg"
                        decoding="async" data-nimg="fill" class="transition duration-500 hover:scale-105"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover" /><noscript><img
                          src="https://static.mservice.io/blogscontents/momo-upload-api-220825113823-637970243039646791.jpg"
                          decoding="async" data-nimg="fill"
                          style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
                          class="transition duration-500 hover:scale-105" loading="lazy" /></noscript></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fixed w-screen max-w-full md:sticky -top-px z-10 md:z-20 bg-white transition duration-200 border-b 
opacity-0 md:opacity-100
border-transparent
">
          <div class="max-w-6xl mx-auto w-full px-5 md:px-8 lg:px-8 px-0">
            <div class="jsx-379364188 relative soju-carousel ">
              <div class="breadcrumb flex overflow-scroll w-full pl-5 md:pl-0 border-b border-gray-200">
                <div class="w-1"> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="max-w-6xl mx-auto w-full px-5 md:px-8 lg:px-8 ">
          <div class="mx-auto mt-5 w-full lg:mt-0">
            <div class="lg:grid lg:grid-flow-col lg:grid-cols-5 lg:gap-6">
              <div class="mx-auto w-full lg:col-span-3 lg:pr-4">
                <div class="mb-5 block rounded-lg border-gray-200 md:border md:p-6 md:shadow-lg lg:hidden">
                  <h2 class="mb-5 hidden flex-auto text-1.5xl font-semibold text-gray-700 md:block">Thông tin quyên góp
                  </h2>
                  <div class="jsx-c5fd4b6feeb6dfd6 dn-detail">
                    <div class="jsx-c5fd4b6feeb6dfd6 dn-info mb-2 flex items-end"><strong
                        class="jsx-c5fd4b6feeb6dfd6 item-end dn-value flex text-xl font-bold text-gray-700">9.457.315
                        <!-- -->đ
                      </strong><span class="jsx-c5fd4b6feeb6dfd6 flex items-end pl-2 text-sm text-gray-500">quyên góp /
                        <!-- -->150.000.000
                        <!-- -->đ
                      </span></div>
                    <div
                      class="jsx-c5fd4b6feeb6dfd6 dn-progress my-1 flex h-1.5 w-full overflow-hidden rounded-lg bg-gray-200">
                      <div class="dn-progress-bar h-1.5 rounded-lg cls-bmtu-progress" style="width:6.3%"></div>
                    </div>
                    <div class="jsx-c5fd4b6feeb6dfd6 dn-time mt-2 flex items-start justify-between text-gray-400">
                      <div class="jsx-c5fd4b6feeb6dfd6 ">
                        <h4 class="jsx-c5fd4b6feeb6dfd6 text-gray-400">Lượt quyên góp</h4>
                        <p class="jsx-c5fd4b6feeb6dfd6 font-bold text-gray-900">1.707</p>
                      </div>
                      <div class="jsx-c5fd4b6feeb6dfd6 ">
                        <h4 class="jsx-c5fd4b6feeb6dfd6 text-gray-400">Đạt được</h4>
                        <p class="jsx-c5fd4b6feeb6dfd6 font-bold text-gray-900">6.3
                          <!-- -->%
                        </p>
                      </div>
                      <div class="jsx-c5fd4b6feeb6dfd6 ">
                        <h4 class="">Thời hạn còn</h4>
                        <p class="font-bold text-gray-900">31 Ngày</p>
                      </div>
                    </div>
                    <div class="jsx-c5fd4b6feeb6dfd6 mt-6 space-y-3">
                      <input type="number" class="cls-input-amount" placeholder="Nhập số tiền..." id="amountv"
                        name="amounv" />

                      <%= link_to "VNPAY" , payment_path, :class=> 'jsx-c5fd4b6feeb6dfd6 cls-bmtu-btn-donate
                        w-full !text-lg'%>
                     

                    </div>
                  </div>
                  <div id="nhahaotam">

                    <h2 class="my-5 text-1.5xl font-semibold">Các nhà hảo tâm đã đóng góp</h2>

                    <div class="border border-gray-200 rounded px-4 pt-1.5 pb-3">
                      <div id="cls_bmtu_show"
                        class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                        <div class="w-12 mr-1 flex items-center ">
                          <div
                            class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                            LE</div>
                        </div>
                        <div class="flex-1 text-left">
                          <div class="pt-1 mb-1">
                            <%= session[:vnp_Name] %>
                          </div>
                          <div class="text-xs text-gray-400">
                            <%= session[:vnp_PayDate].to_time.strftime('%Y-%m-%d %H:%M') %>
                          </div>
                        </div>
                        <div class="flex item-end justify-end">
                          <%= number_to_currency(session[:vnp_Amount],precision: 0, unit: "" ) %>
                            <!-- -->đ
                        </div>
                      </div>

                      <div
                        class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                        <div class="w-12 mr-1 flex items-center ">
                          <div
                            class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                            AĐ</div>
                        </div>
                        <div class="flex-1 text-left">
                          <div class="pt-1 mb-1">TRẦN ANH ĐỨC</div>
                          <div class="text-xs text-gray-400">13/08/2022 15:36</div>
                        </div>
                        <div class="flex item-end justify-end">7,000
                          <!-- -->đ
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                        <div class="w-12 mr-1 flex items-center ">
                          <div
                            class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                            HT</div>
                        </div>
                        <div class="flex-1 text-left">
                          <div class="pt-1 mb-1">CAO THỊ HỒNG THÚY</div>
                          <div class="text-xs text-gray-400">13/08/2022 15:36</div>
                        </div>
                        <div class="flex item-end justify-end">10,000
                          <!-- -->đ
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                        <div class="w-12 mr-1 flex items-center ">
                          <div
                            class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                            VT</div>
                        </div>
                        <div class="flex-1 text-left">
                          <div class="pt-1 mb-1">PHẠM VĂN TIẾN</div>
                          <div class="text-xs text-gray-400">13/08/2022 15:36</div>
                        </div>
                        <div class="flex item-end justify-end">5,000
                          <!-- -->đ
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div id="cauchuyen">
                  <h2 class="py-5 text-1.5xl font-semibold">Câu chuyện</h2>
                  <article class="soju__prose small">
                    <p>
                      <strong>Xót xa trước hoàn cảnh của các em học sinh nghèo</strong>
                    </p>

                    <p>
                      “Mẹ ơi mua sách cho con…
                    </p>

                    <p>
                      Mẹ ơi mua áo quần mới cho con. Áo quần con rách hết rồi. Năm nay mẹ mua cho con bộ mới nhé…
                    </p>

                    <p>
                      Mẹ tính đủ tiền cho con nộp học phí chưa…năm nay học phí các trường đại học lại tăng rồi đó mẹ…”
                    </p>

                    <p>
                      Tiếng con giục khiến lòng chị H thêm rối bời, vừa thương con vừa tủi cho phận của mình. Trước đây
                      chị cũng là một cô gái xinh đẹp của vùng bản làng. Lấy chồng rồi sinh con khi còn rất trẻ, cuộc
                      sống
                      tưởng chừng hạnh phúc nhưng rồi tai nạn đã xảy ra khi chồng chị bị tai nạn, phải nằm liệt một chỗ.
                    </p>

                    <p style="text-align:center">
                      <img alt=""
                        src="https://static.mservice.io/blogscontents/momo-upload-api-220825112806-637970236869188890.jpg"
                        style="width:100%" />
                      <em>Thay vì cắp sách đến trường, các em phải đi chăn dê để kiếm thu nhập phụ giúp gia đình</em>
                    </p>

                    <p>
                      Từ khi đó, chị H là trụ cột chính trong gia đình, tiền ăn tiền thuốc men, sinh hoạt phí đã là một
                      gánh nặng quá lớn đối với chị. Và giờ đây khi năm học mới lại đến, trái tim chị như chị càng bị
                      bóp
                      nghẹt đi vì thương con. Chị không biết rằng niềm vui đến trường của con liệu có trở thành hiện
                      thực
                      khi mà nỗi lo cái ăn cái mặc vẫn đang còn đó.
                    </p>

                    <p style="text-align:center">
                      <img alt=""
                        src="https://static.mservice.io/blogscontents/momo-upload-api-220825112850-637970237301268179.jpg"
                        style="width:100%" />
                      <em>Những đôi bàn tay lấm lem, quần áo quá nhỏ hoặc quá rộng là hoàn cảnh của những em nhỏ nơi
                        đây</em>
                    </p>

                    <p>
                      Nỗi niềm của chị H và cũng chính nỗi lo lắng của 20 em học sinh mà Quỹ từ thiện Hoa muốn chia sẻ
                      ngày hôm nay. Trong niềm vui chung của các em học sinh, sinh viên nô nức đến trường, vẫn còn nhiều
                      em có hoàn cảnh khó khăn, phải đối mặt giữa chọn lựa, từ bỏ ước mơ, bỏ học để phụ giúp gia đình. Ở
                      cái tuổi ăn tuổi lớn vậy mà đôi vai những cô cậu học trò này đều phải gồng gánh những nỗi lo cơm
                      áo
                      gạo tiền và chặng đường viết tiếp tương lai vẫn còn đang dang dở.
                    </p>
                  </article>
                </div>
              </div>

              <div class="relative z-10 hidden w-full lg:col-span-2 lg:block detail">

                <div id="nhahaotam">
                  <div class="border border-gray-200 rounded px-4 pt-1.5 pb-3">
                    <h2 class="my-5 text-1.5xl font-semibold">Các nhà hảo tâm đã đóng góp</h2>
                    <div id="cls_bmtu_show"
                      class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                      <div class="w-12 mr-1 flex items-center ">
                        <div
                          class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                          LE</div>
                      </div>
                      <div class="flex-1 text-left">
                        <div class="pt-1 mb-1">
                          <%= session[:vnp_Name] %>
                        </div>
                        <div class="text-xs text-gray-400">
                          <%= session[:vnp_PayDate].to_time.strftime('%Y-%m-%d %H:%M') %>
                        </div>
                      </div>
                      <div class="flex item-end justify-end">
                        <%= number_to_currency(session[:vnp_Amount],precision: 0, unit: "" ) %>
                          <!-- -->đ
                      </div>
                    </div>

                    <div
                      class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                      <div class="w-12 mr-1 flex items-center ">
                        <div
                          class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                          AĐ</div>
                      </div>
                      <div class="flex-1 text-left">
                        <div class="pt-1 mb-1">TRẦN ANH ĐỨC</div>
                        <div class="text-xs text-gray-400">13/08/2022 15:36</div>
                      </div>
                      <div class="flex item-end justify-end">7,000
                        <!-- -->đ
                      </div>
                    </div>
                    <div
                      class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                      <div class="w-12 mr-1 flex items-center ">
                        <div
                          class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                          HT</div>
                      </div>
                      <div class="flex-1 text-left">
                        <div class="pt-1 mb-1">CAO THỊ HỒNG THÚY</div>
                        <div class="text-xs text-gray-400">13/08/2022 15:36</div>
                      </div>
                      <div class="flex item-end justify-end">10,000
                        <!-- -->đ
                      </div>
                    </div>
                    <div
                      class="flex items-center justify-between text-sm text-gray-700 font-semibold py-2 border-b border-gray-100 last:border-0">
                      <div class="w-12 mr-1 flex items-center ">
                        <div
                          class="w-9 h-9 text-sm font-bold text-gray-500 bg-gray-300 rounded-full flex justify-center items-center">
                          VT</div>
                      </div>
                      <div class="flex-1 text-left">
                        <div class="pt-1 mb-1">PHẠM VĂN TIẾN</div>
                        <div class="text-xs text-gray-400">13/08/2022 15:36</div>
                      </div>
                      <div class="flex item-end justify-end">5,000
                        <!-- -->đ
                      </div>
                    </div>
                  </div>

                </div>
                <br>
                <div class="mb-6 rounded-lg border py-6 px-8 shadow-lg">
                  <h2 class="mb-5 flex-auto text-1.5xl font-semibold text-gray-700">Thông tin quyên góp</h2>
                  <div class="jsx-c5fd4b6feeb6dfd6 dn-detail">
                    <div class="jsx-c5fd4b6feeb6dfd6 dn-info mb-2 flex items-end"><strong
                        class="jsx-c5fd4b6feeb6dfd6 item-end dn-value flex text-xl font-bold text-gray-700">9.457.315
                        <!-- -->đ
                      </strong><span class="jsx-c5fd4b6feeb6dfd6 flex items-end pl-2 text-sm text-gray-500">quyên góp
                        /
                        <!-- -->150.000.000
                        <!-- -->đ
                      </span></div>
                    <div
                      class="jsx-c5fd4b6feeb6dfd6 dn-progress my-1 flex h-1.5 w-full overflow-hidden rounded-lg bg-gray-200">
                      <div class="dn-progress-bar h-1.5 rounded-lg cls-bmtu-progress" style="width:6.3%"></div>
                    </div>
                    <div class="jsx-c5fd4b6feeb6dfd6 dn-time mt-2 flex items-start justify-between text-gray-400">
                      <div class="jsx-c5fd4b6feeb6dfd6 ">
                        <h4 class="jsx-c5fd4b6feeb6dfd6 text-gray-400">Lượt quyên góp</h4>
                        <p class="jsx-c5fd4b6feeb6dfd6 font-bold text-gray-900">1.707</p>
                      </div>
                      <div class="jsx-c5fd4b6feeb6dfd6 ">
                        <h4 class="jsx-c5fd4b6feeb6dfd6 text-gray-400">Đạt được</h4>
                        <p class="jsx-c5fd4b6feeb6dfd6 font-bold text-gray-900">6.3
                          <!-- -->%
                        </p>
                      </div>
                      <div class="jsx-c5fd4b6feeb6dfd6 ">
                        <h4 class="">Thời hạn còn</h4>
                        <p class="font-bold text-gray-900">31 Ngày</p>
                      </div>
                    </div>

                    <div class="jsx-c5fd4b6feeb6dfd6 mt-6 space-y-3">
                      <input type="number" class="cls-input-amount" placeholder="Nhập số tiền..." id="amountinput"
                        name="amountinput" />

                      <%= link_to "VNPAY" , payment_path, :class=> 'jsx-c5fd4b6feeb6dfd6 cls-bmtu-btn-donate
                        w-full !text-lg'%>
                        <div id="paypal-button-container"></div>


                    </div>

                    <hr class="jsx-c5fd4b6feeb6dfd6 mt-2 mb-2 opacity-50" />
                    <div class="jsx-c5fd4b6feeb6dfd6 dn-partner">
                      <div class="jsx-c5fd4b6feeb6dfd6 mb-1 text-sm   text-gray-500 ">Đồng hành cùng dự án</div>
                      <div class="jsx-c5fd4b6feeb6dfd6 relative flex flex-nowrap items-center space-x-3">
                        <div class="jsx-c5fd4b6feeb6dfd6 shrink-0 overflow-hidden   ">
                          <div class="jsx-c5fd4b6feeb6dfd6 relative h-12 w-12 "><span
                              style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0"><img
                                src="https://yt3.ggpht.com/ytc/AMLnZu_2RaVyJSAtASeG810PREffA4wQdEKfKjkrTu55=s900-c-k-c0x00ffffff-no-rj"
                                decoding="async" data-nimg="fill"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain" /><noscript><img
                                  src="https://yt3.ggpht.com/ytc/AMLnZu_2RaVyJSAtASeG810PREffA4wQdEKfKjkrTu55=s900-c-k-c0x00ffffff-no-rj"
                                  decoding="async" data-nimg="fill"
                                  style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:contain"
                                  loading="lazy" /></noscript></span></div>
                        </div>
                        <div class="jsx-c5fd4b6feeb6dfd6  flex-1 text-md leading-4 text-gray-600 hover:text-pink-600">
                          <strong class="jsx-c5fd4b6feeb6dfd6  font-semibold">Quỹ từ thiện BMTU</strong><a
                            href="https://bmtu.edu.vn/" class="jsx-c5fd4b6feeb6dfd6   stretched-link"><small
                              class="jsx-c5fd4b6feeb6dfd6 mt-1 block text-pink-600"><i class="jsx-c5fd4b6feeb6dfd6">Tìm
                                hiểu thêm </i></small></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
  </div>

  </main>
  </div>
  <%= javascript_include_tag "jquery-1.11.1.min" %>
    <%= javascript_include_tag "jquery.validate.min" %>
      <%= javascript_include_tag "additional-methods.min" %>
        <script src="https://www.paypal.com/sdk/js?client-id=AQqEAnKfp7nvV6cbea6LDMVk9bImef31sm4eSMtNk4cHOL5l7cMu_F3L_jQgX0zY60e45JWzwo14cmTK"></script>
        <script>
          paypal.Buttons({
            style: {
              shape: 'rect',
              color: 'silver',
              layout: 'horizontal',
              label: 'paypal',
              tagline: false

            },
            createOrder: function (data, actions) {
              var money = document.getElementById("amountinput").value;
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: money
                  }
                }]
              });
            },
            onApprove: function (data, actions) {
              alert("Thanh toán thành công!");
              return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                alert('Giao dịch được hoàn thành bởi ' + details.payer.name.given_name);
                // Full available details
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                // Show a success message within this page, e.g.
                const element = document.getElementById('paypal-button-container');
                element.innerHTML = '';
                element.innerHTML = '<h3>Thank you for your payment!</h3>';
              });
            }
          }).render('#paypal-button-container');
        </script>
        <script>
          $('#amountinput').on('propertychange input', function () {
            var money = document.getElementById("amountinput").value;
            jQuery.ajax({
              data: { strAmount: money },
              type: 'GET',
              dataType: "json",
              url: "/fallback",
            });
          });
        </script>
        <script>
          $('#amountv').on('propertychange input', function () {
            var money = document.getElementById("amountv").value;
            jQuery.ajax({
              data: { strAmount: money },
              type: 'GET',
              dataType: "json",
              url: "/fallback",
            });
          });
        </script>
        <script>
          var vnp_Name = "<%= session[:vnp_Name] %>"
          document.getElementById("cls_bmtu_show").style.display = "none";
          if (vnp_Name != "" || vnp_Name != null) {
            document.getElementById("cls_bmtu_show").style.display = "block";
          }
        </script>
</body>

</html>